In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Create a file path
data_path = '/Users/nataschajademinnitt/Documents/5. Data Analysis/Distribution of Things/distributionofthings.analysis/6_conflict_media/data'
figure_path = '/Users/nataschajademinnitt/Documents/5. Data Analysis/Distribution of Things/distributionofthings.analysis/6_conflict_media/figures'

# Load data
df = pd.read_csv(data_path + '/Conflict_Media_Coverage_Data.csv')
df.head()

,Rank,Country,# of Civilian Casualties,# of Articles,Conflict Media Coverage Index
0,1,Burkina Faso,20659,13127,0
1,2,Ethiopia,22529,16103,0
2,3,Mali,19818,19525,2
3,4,Cameroon,3362,6496,6
4,5,Haiti,5546,14924,8

In [35]:
df['Article-to-Casualty Ratio'] = df['# of Articles'] / df['# of Civilian Casualties']

In [37]:
df.head()

,Rank,Country,# of Civilian Casualties,# of Articles,Conflict Media Coverage Index,Article-to-Casualty Ratio
0,1,Burkina Faso,20659,13127,0,0.635413
1,2,Ethiopia,22529,16103,0,0.714768
2,3,Mali,19818,19525,2,0.985215
3,4,Cameroon,3362,6496,6,1.932183
4,5,Haiti,5546,14924,8,2.690948

In [68]:
import matplotlib.pyplot as plt

# Create the scatter plot with suggested axes
plt.figure(figsize=(12, 8))
scatter = plt.lineplot(
    df['Conflict Media Coverage Index'], 
    df['# of Civilian Casualties'], 
    s=df['# of Articles'] * 0.1,  # Scale bubble size for better visualization
    alpha=0.6, 
    c=df['# of Civilian Casualties'],  # Color intensity based on casualties
    cmap='viridis', 
    edgecolors='w', 
    linewidth=0.5
)

# Add titles and labels
plt.title('Media Coverage Index vs. Civilian Casualties')
plt.xlabel('Conflict Media Coverage Index (0-100)')
plt.ylabel('Number of Civilian Casualties')
plt.colorbar(scatter, label='Number of Civilian Casualties')
plt.grid(True)

# Show plot
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'lineplot'